.container__inputs{
    height: 120px;
}
.fail{
    color: red;
    padding-left: 8px;
}
.spinner-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.spinner-text {
   font-size: large;
   font-weight: bold;
   color: aliceblue;
}
